/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: rgb(142, 142, 207);
}

.img-header { 
    width: 50%;
    height: 80%; 
    margin-left: 80px;
    
}

/*MAIN*/
.container {
    width: 80%;
    margin: 0 auto;
}

h4, h5 {
    color: darkgrey;
}

#autore {
    color: rgb(105, 181, 231);
}

#immagini {
    margin-top: 20px;
}

p {
    font-size: 0.8rem;
}

.paragrafo, .lista, .tabella, .testo-footer {
    margin-top: 20px;
}
.lista {
    margin-left: 15px;
}

.selezione {
    background-color: yellow;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

td {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 5em;
}

th {
    background-color: blue;
    color: white;
    padding-right: 1em;
}

.riga-colore {
    background-color: aqua;
}

/*FOOTER*/
.monitor {
    background-image: url(../img/monitor.jpg);
   
}

.graph {
    background-image: url(../img/graph.jpg);

}

.monitor, .graph {
    margin-top: 10px;
    height: 200px;
    background-repeat: no-repeat;
    color: white;
}

.testo-finale {
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    font-size: 1.5rem;
}


