/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: rgb(142, 142, 207);
}

.img-header { 
    width: 50%;
    height: 50%;   
}

/*MAIN*/
.container {
    width: 80%;
    margin: 0 auto;
}

h4, h5 {
    color: darkgrey;
}

#autore {
    color: rgb(105, 181, 231);
}

#immagini {
    margin-top: 20px;
}

p {
    font-size: 1rem;
}

.paragrafo, .lista, .tabella, .testo-footer {
    margin-top: 20px;
}

.selezione {
    background-color: yellow;
}

table {
    width: 100%;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
}

.riga-colore {
    background-color: aqua;
}




